<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahao.practise">
    <!--别忘了添加网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <!--决定应用程序最先启动的Activity，至少有一个Activity申明了-->
                <action android:name="android.intent.action.MAIN" />
                <!--决定应用程序是否显示在程序列表里，至少有一个Activity申明了-->
                <category android:name="android.intent.category.LAUNCHER" />
                <!--如果存在多个activity都声明了android.intent.action.MAIN与android.intent.category.LAUNCHER会出现什么情况呢？
                将会有多个图标显示在桌面上，你可以自定义一些图片显示不同的icon来显示，两个属性成对出现。-->
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/home_tab_bar_dashboard"
            >
        </activity>

    </application>

</manifest>